main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./../public/bg.jpg");
}

/* Navbar */
nav {
  margin-top: -75px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
}

.menuIcon{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  object-fit: fill !important;
  position: relative;
  border-radius: 6px;
  height: 70vh;
  margin-top: -10vh;
  width: 80vw;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: pointer;
}
.circle textarea {
  resize: both !important;
  border: none;
  outline: none;
  font-size: 60px !important;
  font-weight: 800;
  color: white;
  background-color: transparent;
  width: fit-content !important;
  overflow: auto !important;
}

.add-button,
.text {
  border: none;
  padding: 0.5rem 1.5rem;
  margin: 10px;
  font-weight: 800;
  border-radius: 3px;
  font-size: 1rem;
  transition: 0.3s;
}
.add-button {
  cursor: pointer;
}
.add-button:hover {
  background-color: #333;
  color: white;
}

.text {
  outline: none !important;
  border: none !important;
}